{% extends "layout.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Add Asset</h2>
  <div class="table-responsive">
		<form class="form" method="POST" action="/assets/add/">
			<label for="inputEmail" >Name</label>
			{{ form.name(class_="form-control") }}

			<label for="inputEmail">Street</label>
			{{ form.street(class_="form-control") }}

			<label for="inputEmail">City</label>
			{{ form.city(class_="form-control") }}

			<label for="inputEmail">State</label>
			{{ form.state(class_="form-control") }}

			<label for="inputEmail">Zipcode</label>
			{{ form.zipcode(class_="form-control") }}

			<label for="inputEmail">Point of Contact</label>
			{{ form.contact(class_="form-control") }}

			<label for="inputEmail">Phone</label>
			{{ form.telnum(class_="form-control") }}

			<label for="inputEmail">Website</label>
			{{ form.website(class_="form-control") }}

			<label for="inputEmail">Description</label>
			{{ form.descript(class_="form-control") }}

			<label for="inputEmail">Lattitude</label>
			{{ form.lat(class_="form-control") }}

			<label for="inputEmail">Longitude</label>
			{{ form.lon(class_="form-control") }}
			<br>
      <input class="btn btn-lg btn-success" role="button" type="submit" value="Add Asset">

      </div>
    <!-- end of form -->
    </form>
  </div>
</div>
{% endblock %}
